/* Tutorial made by Rene Figol | 2022 */

/* reset styling */
html,
body
{
    height: 100%;
    width:  100%;
    margin: 0;
    padding: 0;
    color:  #fff;
}

/* navbar styling */
.navbar,
.navbar-brand
{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.1em;
    font-weight: 600;
}
/* background styling */
#main
{
    background:url(/Coding/img/background.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}
/* main content styling */
.getstarted
{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
/* main content text styling */
.getstarted h1, h3
{
    font-size: 2.5em;
    font-weight: 700;
}

/* Tutorial made by Rene Figol | 2022 */